.section-about {
    background-color: $color-grey-light-1;
    padding: 0;
}

.section-feature {
    padding: 10rem 0;
    background-size: cover;
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 10rem 0;
}

.section-stories {
    position: relative;
    padding: 10rem 0;
}

.section-book {
    padding: 10rem 0;
}
