.navigation {
    background: transparent;
    height: 8rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

    &--scroll {
        background: $header-background-color;
    }

    &__backtop {
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        width: 3rem;
        height: 3rem;
        z-index: 99;
        background: #13b1cd;
        border-radius: 100%;
        text-align: center;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        cursor: pointer;
        display: block;
        padding: 0.8rem 0.1rem 0 0;

        &__icon {
            border: solid black;
            border-width: 0 0.3rem 0.3rem 0;
            display: inline-block;
            padding: 0.5rem;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
    }

    &__logo-box {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__logo {
        height: 8rem;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: transparent;
        height: 5rem;
        width: 5rem;
        position: fixed;
        top: 1.7rem;
        right: 2rem;
        box-shadow: none;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 4rem;
            right: 4rem;
        }

        @include respond(phone) {
            top: 2.5rem;
            right: 2.5rem;
        }
    }

    &__background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        right: 2.5rem;
        opacity: 0;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: transform .8s;
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);

        @include respond(tab-port) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include respond(phone) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__list {
        position: absolute;

        @include absCenter;

        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 300%;
            transition: all .4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    // FUNCTIONALITY
    &__checkbox:checked~&__background {
        transform: scale(80);
        opacity: 1;
    }

    &__checkbox~&__nav {
        display: none;
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
        display: block;
    }

    // ICON
    &__icon {
        position: relative;
        margin-top: 2.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: .2rem;
            background-color: $color-grey-light-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon:before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon:after {
        top: 0;
        transform: rotate(-135deg);
    }
}
