.section {
  &__about,
  &__book,
  &__feature,
  &__stories,
  &__tours {
    &:focus {
      outline: none;
    }
  }

  &__tours {
    padding: 5rem 5rem 10rem;
    background-color: $color-grey-light-1;
    min-height: 100vh;
    text-align: center;

    &__title {
      padding: 2rem 4rem;

      &__text {
        padding: 0 !important;
      }
    }

    &__gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      &__more {
        cursor: pointer;
        padding-top: 2rem;

        &__icon {
          color: $color-primary;
          font-size: $swiper-pagination-font-size;

          &:hover {
            color: $color-primary-dark;
          }
        }

        &__photo {
          display: none;

          &--active {
            display: block;
          }
        }
      }
    }
  }

  &__about {
    background-color: $color-grey-light-1;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    min-height: 100vh;

    &__text {
      padding: 5rem 6rem 5rem 0;
    }
  }

  &__book {
    padding: 0;
    background-color: #fff;
    background-repeat: inherit;
    min-height: 100vh;

    &__wrapper {
      &__content {
        padding: 6rem;
      }
    }

    &--hidden {
      display: none;
    }

    &__form {
      &__tabs {
        display: flex;
        padding: 0 0 3rem;

        &--disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        &__text {
          text-decoration: none !important;
          color: $color-primary !important;
          padding: 1rem 0;
          margin-right: 2rem;
          font-size: $default-font-size;
          cursor: pointer;
          border-bottom: 2px solid transparent;

          & i {
            margin-left: 1rem;
          }

          & i.delete:hover {
            color: $color-delete;
          }

          &--active {
            color: $color-grey-light-2 !important;
            border-bottom: 1px solid $color-grey-light-3;
          }

          &--disabled {
            opacity: 0.5;
            pointer-events: none;
          }

          &:hover {
            color: $color-primary-dark !important;
          }
        }
      }
    }

    .row {
      max-width: inherit !important;
      padding: 0 !important;
    }
  }

  &__stories {
    padding: 10rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

  &__feature {
    padding: 10rem 0;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  &__geral {
    padding: 0 !important;
    margin-top: 0 !important;

    &__wrapper {
      position: relative;
    }

    &__image {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-size: cover;
      background-position: center center;

      &--about {
        background-image: url("../img/nat-1-large.jpg");
      }

      &--contact {
        background-image: url("../img/nat-10.jpg");
      }
    }

    &__container {
      padding: 10rem 0;

      &__col {
        margin-right: 0 !important;
      }

      &__title {
        &__side {
          padding-top: 5rem;
        }
      }

      &__text {
        color: $color-secondary-light;
        font-size: $default-font-size;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;

        &--1 {
          padding-bottom: 2rem;
          font-size: 3rem;
        }

        &--2 {
          font-size: 2rem;
        }
      }
    }
  }
}
